<h1>About Me</h1>
<h2><p>
    <a href="http://samasante.me/">Sam Asante</a>
    is a website used to share my insight on the various things I have done. 
    <br>
<a href="http://rubyonrails.org/">Ruby on Rails</a> 
    in one month. This is the beginner application.
<h2></p>